{% extends 'base.html.twig' %}

{% block title %}UserExercise{% endblock %}

{% block body %}
    <h1>UserExercise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_exercise.id }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ user_exercise.weight }}</td>
            </tr>
            <tr>
                <th>Repetition</th>
                <td>{{ user_exercise.repetition }}</td>
            </tr>
            <tr>
                <th>SetTotal</th>
                <td>{{ user_exercise.setTotal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_exercise_index') }}">back to list</a>

    <a href="{{ path('user_exercise_edit', {'id': user_exercise.id}) }}">edit</a>

    {{ include('user_exercise/_delete_form.html.twig') }}
{% endblock %}
